:root {
    --cover-color                                      : rgb(255,255,255);
    --cover-background-color                           : rgb(40,51,57);
    --cover-background-mask-color                      : rgb(40,51,57);
    --cover-blockquote-color                           : rgb(255,255,255;
}
